<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<div layout:fragment="content" class="container mt-5">
		<ul class="nav nav-pills nav-fill" sec:authorize="hasRole('ADMIN')">
			<li class="nav-item pe-2">
				<a class="nav-link" th:href="@{/admin}">Theaters</a>
			</li>
			<li class="nav-item pe-2">
				<a class="nav-link" th:href="@{/admin/cities}">Cities</a>
			</li>
			<li class="nav-item pe-2">
				<a class="nav-link active" th:href="@{/admin/movies}">Movies</a>
			</li>
		</ul>

		<div class="mt-5">

			<h2 class="mb-3" th:text="${title}"></h2>

			<div class="col-6">
				<div class="card-body">
					<h3 class="card-title" th:text="${movie.title}"></h3>
					<p class="card-text">Duration : <span th:text="${movie.duration}"></span></p>
					<p class="card-text" th:text="${movie.description}"></p>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" th:each="theater:${movie.theaters}" th:text="${theater.name}"></li>
					</ul>
				</div>

				<div class="mt-3">
					<form th:action="@{/addMovieToTheaters}" method="post">
						<input type="hidden" class="form-control" id="id" name="movieId" th:value="${movie.id}">
						<label for="theaters" class="form-label">Theaters</label>
						<select class="form-select" name="theaterId">
							<option>Select to this teather</option>
							<option th:each="th:${theaters}" th:value="${th.id}" th:text="${th.name}">
							</option>
						</select>
						<span class="text-danger"></span>
						<button type="submit" class="btn btn-primary btn-sm mt-3">Add</button>
						<div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>