<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}"></title>
</head>

<body>
	<div layout:fragment="content" class="container mt-5">
		<ul class="nav nav-pills nav-fill" sec:authorize="hasRole('ADMIN')">
			<li class="nav-item pe-2">
				<a class="nav-link" th:href="@{/admin}">Theaters</a>
			</li>
			<li class="nav-item pe-2">
				<a class="nav-link active" th:href="@{/admin/cities}">Cities</a>
			</li>
			<li class="nav-item pe-2">
				<a class="nav-link" th:href="@{/admin/movies}">Movies per theater</a>
			</li>
		</ul>

		<div class="mt-5">

			<div class="row">
				<div class="col-10">
					<h2 class="mb-3" th:text="${title}"></h2>
				</div>
				<div class="col-2"><a th:href="@{/admin/city}" class="btn btn-primary btn-sm">Add a city</a></div>
			</div>
			<table class="table">
				<thead class="table-dark">
					<tr>
					<th scope="col"></th>
						<th scope="col">Name</th>
						<th scope="col">Zipcode</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="city:${cities}">
						<th scope="col" class="text-center" th:text="${city.id}"></th>
						<td th:text="${city.name}"></td>
						<td th:text="${city.zipcode}"></td>
						<td class="text-center">
							<a th:href="@{'/admin/city/edit/' + ${city.id}}" class="btn btn-sm btn-warning"><i
									class="far fa-edit"></i></a>
							<a href="" class="btn btn-sm btn-danger disabled"><i class="far fa-trash-alt"></i></a>
						</td>
					</tr>
				</tbody>
			</table>

			<nav aria-label="Page navigation example">
				<ul class="pagination pagination-sm">
					<li class="page-item" th:class="${currentPage == status.index+1 ? 'active' : ''}"
						th:each="page, status:${pages}">
						<a class="page-link" th:href="@{/admin/cities(page=${status.index+1}, search=${search})}"
							th:text="${status.index+1}"></a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</body>

</html>